[submodule "components/esp32-owb"]
	path = components/esp32-owb
	url = https://github.com/DavidAntliff/esp32-owb.git
[submodule "components/esp32-ds18b20"]
	path = components/esp32-ds18b20
	url = https://github.com/DavidAntliff/esp32-ds18b20.git
[submodule "components/nrf24l01p-esp32"]
	path = components/nrf24l01p-esp32
	url = https://github.com/lafar6502/nRF24L01p-ESP32-Library.git
[submodule "components/esp32-rf-receiver"]
	path = components/esp32-rf-receiver
	url = https://github.com/lafar6502/esp32-rf-receiver.git
[submodule "components/tarablessd1306"]
	path = components/tarablessd1306
	url = https://github.com/TaraHoleInIt/tarablessd1306.git
[submodule "components/esp32-pcd8544"]
	path = components/esp32-pcd8544
	url = https://github.com/yanbe/esp32-pcd8544.git
